@page
@model NWI2.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: #2196F3;
        padding: 10px;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }
</style>


<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <aside class="grid-container">
        @foreach (var item in Model.GED)
        {
            <aside class="grid-item">

                    @item.STUDENTINFO|@item.EMPLOYED|@item.LOCATION|
                    <a asp-page="./Edit" asp-route-id="@item.VID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.VID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.VID">Delete</a>
            </aside>
                
            
        }
    </tbody>
</table>
