@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron text-center ">
    <h1>NOW WHAT INC</h1>
    <h2>UPLIFT-EDUCATE-INSPIRE</h2>

</div>

<p><a href="https://www.youtube.com/embed/lrLLAQTIHZM">Positive Message</a></p>
<p><a href="https://www.youtube.com/embed/DH49_c6cF60">Paying It Forward</a></p>









  <div class="container">
    <div class="row">
        <div class="col-md-4">

            <h3 style="color:red"> Mission Statement</h3>
            <p> At NOW WHAT INC, our mission is to Uplift, Educate, and Inspire men and women through educational and vocational training, appropriate resources, and unconditional support.</p>



            <h3 style="color:red">Uplift</h3>

            <p>
                to lift up; raise; elevate.
                to improve socially, culturally, morally, or the like
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3 style="color:red">Educate</h3>

            <p>
                to develop the faculties and powers of (a person) by teaching, instruction, or schooling.
                to qualify by instruction or training for a particular calling, practice, etc.; train:
                to educate someone for law.
                to provide schooling or training for; send to school.
                to develop or train (the ear, taste, etc.):
                to educate one's palate to appreciate fine food.
                to inform:
                to educate oneself about the best course of action.



                <h3 style="color:red">Inspire</h3>
            <p>
                to fill with an animating, quickening, or exalting influence:
                to produce or arouse (a feeling, thought, etc.):
                to inspire confidence in others.
                to fill or affect with a specified feeling, thought, etc.:
                to inspire a person with distrust.
                to influence or impel:
            </p>
        </div>
    </div>
</div>

<ul>
    <li><a asp-page="/Profile/Index">Create a profile</a>
</ul>
